<% provide(:title, @title) %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3>Your stats</h3>
    <div class="row center">
        <div class="col-md-4">
            <div class="col-md-12 yourstat">
                <% if @user.microposts.count == 0 %>
                    <p>You don't have any wankytime :( </br>
                    Post your first one <%= link_to "now", root_path %></p>
                <% else %>
                    <%= pluralize(@user.microposts.count, 'wankytime') %>
                <% end %>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-md-12 yourstat">
                <% if @user.followers.count == 0 %>
                    <p><span>You don't have any followers :(</span></p>
                <% else %>
                    <%= pluralize(@user.followers.count, 'follower', plural: 'followers') %>
                <% end %>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-md-12 yourstat">
                <% if @user.following.count == 0 %>
                    <p>You don't follow any unsers :( </br>
                    Start following <%= link_to "users", users_path %></p> 
                <% else %>
                    <%= @user.following.count %> following
                <% end %>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-12 yourstat">
                <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span> Your map's coming soon!
            </div>
        </div>
    </div>
  </div>
</div>

